[submodule "themes/light"]
	path = themes/light
	url = https://github.com/hexojs/hexo-theme-light.git
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/viosey/hexo-theme-material.git
